.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.add-item-form input {
	padding: 10px;
}

.add-item-form button {
	padding: 10px;
}

.btn {
	padding: 10px;
	background-color: rgb(197, 197, 197);
}

.btnActive {
	background-color: rgb(0, 140, 255);
}